<!DOCTYPE html>
<html>
{% load staticfiles %}

<head>
	<title>RPL Team Rosters</title>
</head>

<body>
	{% for team, positions in teamData.items %}
	<h1>{{team}}</h1>
	<ul>
		<li>Top - {{positions.top}}</li>
		<li>Jungle - {{positions.jgl}}</li>
		<li>Mid - {{positions.mid}}</li>
		<li>AD Carry - {{positions.adc}}</li>
		<li>Support - {{positions.sup}}</li>
		{% if positions.coach %}
			<li>Coach - {{positions.coach}}</li>
		{% endif %}
		{% if positions.sub1 %}
			<li>Substitute 1 - {{positions.sub1}}</li>
		{% endif %}
		{% if positions.sub2 %}
			<li>Substitute 2 - {{positions.sub2}}</li>
		{% endif %}

	</ul>
	{% endfor %}
</body>

</html>
